body {
    padding-right: 50px;
    padding-left: 50px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

ul {
    list-style: none;
}

div.container {
    max-width: 100%;
}

.inputBox {
    width: 100%;
}

.checkBox {
    font-size: 20px;
    padding-right: 20px;
}

.geneBtn {
    font-size: 20px;
}

#display {
    margin-top: 40px;
    font-size: 25px;
    text-align: center;
}

#input-form {
    margin-top: 40px;
    text-align: center;
}